header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: .5em;
  padding-bottom: .5em;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 20em;
  margin-right: 1em;
}

.search-container input {
  text-align: center;
  width: 100%;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: none;
  font-size: 1.2em;
  color:rgba(255, 255, 255, 0.6);
}
.search-container input::placeholder{
  color: rgba(255, 255, 255, 0.6);
}
.search-container input:focus {
  border: 2px solid white;

    color: white;
    outline: none;
}

.search.btn {
  color: white;
  font-size: 2em;
  opacity: 0.8;
  cursor: pointer;
}
.search.btn:hover{
  opacity: 1;
  color: var(--main-color);
  transition: .5s;
  color: none;
}

header .response-container{
  opacity: .3;
  font-size: small;
  font-weight: 400;
}

.list-container{
  top: 3em;
  width: 20em;
  position: absolute;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 2;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}
.list{
  list-style-type: none;

}
.list-items{
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 0.2em;
}
.list-items:hover{
  background-color: rgba(0, 0, 0, 0.1);
  

  transition: background-color 0.5s ease-out;


}
