main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content
}
.main-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-stats {
  margin: 2em;
  font-size: 2em;
}
.main-stats .temperature {
  font-size: 3em;
  font-weight: 400;
}

.temperature-min, .temperature-max{
opacity: .5;
font-size: .8em;
}
.weather-status-div{
  display: flex;
  align-items: center;
  font-weight: 400;
}
.weather-status-div img{
  height: 2em;
}
.second-stats {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  font-size: 1.2em;
  text-align: left;
}

.second-stats > span > span,
.sun-stats > * > span > span {
  font-weight: 400;
}

.sun-stats {
  display: flex;
  flex-direction: row;
}
.sun-stats span {
  font-size: 1.5em;
  margin: 0.5em;
}

.sun-stats > *,
.sun-stats > * > span {
  display: flex;
  align-items: center;
}
