*{
  --wallpaper-color-1: #b2e4fd;
  --wallpaper-color-2: #463ffe;
  --wallpaper-color-3: #3a1737;
  --wallpaper-color-4: #6f0948;
}

body {
  font-family: geometria, roboto;
  font-weight: 300;
  background-color: var(--wallpaper-color-3);
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  span{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }